@import "../styles";
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&family=Cormorant+Garamond:ital,wght@0,300;0,400;1,300;1,400&display=swap");

* {
	box-sizing: border-box;
}

.header {
	display: flex;
	width: 100%;
	height: 30vh;
	justify-content: space-between;
	align-items: center;
	margin: 40px 0;
	div {
		width: 20%;
		display: flex;
		justify-content: center;
		&:first-child {
			margin-left: 10%;
		}
		&:last-child {
			margin-right: 10%;
		}
	}
	.logo {
		margin: 0 15%;
		justify-self: center;
		display: grid;
		font-size: 0.9rem;
		font-weight: 700;
		grid-template-columns: repeat(3, 30px);
		grid-template-rows: repeat(3, 30px);
		justify-items: center;
		align-items: center;
	}
	i {
		font-size: $title-size;
		margin-right: 20px;
	}
}

.title {
	font-family: "Montserrat", sans-serif;
	text-transform: uppercase;
	font-size: $title-size;
	letter-spacing: 0.1rem;
}

.description {
	font-family: "Cormorant Garamond", serif;
	font-size: 2rem;
	font-weight: 300;
	color: $black;
}
.description-italic {
	font-style: italic;
}
.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 80px;
	.box {
		width: 100%;
		height: auto;
		display: flex;
		.box__half {
			width: 50%;
			img {
				width: 100%;
			}
		}
		.row__description {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			.title {
				margin-bottom: 40px;
			}
			p {
				width: 70%;
				text-align: center;
				margin-bottom: 70px;
			}
		}
		&:first-child,
		&:nth-child(8) {
			background-color: #f9dbbe;
		}
		&:nth-child(2) {
			background-color: #f3ede8;
		}
		&:nth-child(4) {
			background-color: #dee8e9;
		}
	}
	.wide {
		width: 80%;
	}

	.button {
		width: 240px;
		height: 60px;
		border: 1px solid $black;
		display: flex;
		justify-content: center;
		align-items: center;
		i {
			margin-left: 10px;
		}
	}

	.row {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		.row__title {
			display: flex;
			flex-direction: column;
			align-items: center;
			.title {
				margin-bottom: 30px;
			}
			.row__title-text {
				width: 60%;
				text-align: center;
				font-size: 2.5rem;
			}
		}

		.items {
			display: flex;
			width: 100%;
			padding: 0 10%;
			justify-content: space-between;
			.item__img {
				// position: relative;
				// &:hover {
				// 	img:first-child {
				// 		display: none;
				// 	}
				// 	img:nth-child(2) {
				// 		display: block;
				// 	}
				// }
				img {
					// position: absolute;
					&:nth-child(2) {
						display: none;
					}
				}
			}
			.item__info {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-between;
				.item__type {
					margin-bottom: 10px;
					span:nth-child(n + 2) {
						margin-left: 10px;
					}
				}
				.item__name {
					margin-bottom: 30px;
				}
				.item__price {
					color: gray;
					margin-bottom: 40px;
				}
			}
		}

		.nails {
			display: flex;
			width: 100%;
			height: 200px;
			margin: 80px 0;
			padding: 0 20%;
			justify-content: space-between;
			.nail {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-around;
				img {
					width: 100px;
				}
			}

			.border {
				width: 1px;
				height: 100%;
				background-color: #9d9d9c;
			}
		}

		.email {
			position: relative;
			width: 50%;
			input {
				width: 100%;
				border: 0px;
				border-bottom: 1px solid $black;
				outline-style: none;
				padding: 20px;
				margin-top: 20px;
				font-size: 2.7rem;
				font-family: "Cormorant Garamond", serif;
				color: $black;
			}

			.email-send {
				position: absolute;
				bottom: 20px;
				right: 0;
				i {
					border: 1px solid $black;
					padding: 15px;
				}
			}
		}
	}
	.grid {
		display: grid;
		gap: 0;
		width: 80%;
		grid-template-columns: repeat(2, 580px);
		background-color: #f3ede8;
		.grid-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			img {
				width: 580px;
			}
			.grid-box__date {
				font-family: "Cormorant Garamond", serif;
				font-size: 1rem;
				margin-bottom: 30px;
			}
			.grid-box__title {
				width: 70%;
				text-align: center;
				margin-bottom: 50px;
			}
		}
	}

	.instagram-list {
		display: grid;
		width: 80%;
		grid-template-columns: repeat(4, 20vw);
		grid-template-rows: repeat(2, 20vw);
		img {
			width: 290px;
		}
	}
	.follow {
		font-size: 2.7rem;
		margin-bottom: 100px;
		span {
			color: #9d9d9c;
			margin-left: 5px;
		}
	}
}

footer {
	width: 100%;
	height: 270px;
	background-color: #f3ede8;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 15%;
	.menu {
		padding: 65px 0;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		.menu-title {
			margin-bottom: 40px;
			color: #c3c1be;
		}
		.menu-list {
			text-align: center;
			li {
				margin-bottom: 15px;
			}
		}
	}
	.menu-border {
		width: 1px;
		height: 135px;
		background-color: $black;
	}
}
